---
import CtaBtn from "./CtaBtn.astro";
---

<div class="text-center bg-white py-12 rounded-2xl drop-shadow-lg">
  <h3 class="font-bold font-headings">Ready To Build Your Community?</h3>
  <div class="mt-6">
    <CtaBtn />
  </div>
</div>
