---
const { title, description, img } = Astro.props;
---

<div class="shadow-lg rounded-2xl text-center px-8 pt-16 pb-10">
  <div>
    <img src={img} alt="" />
  </div>
  <div>
    <h2 class="font-headings text-xl mt-12">{title}</h2>
    <p class="text-sm text-brand-blue mt-4">{description}</p>
  </div>
</div>
