---
import logo from "../assets/logo.svg";
import Button from "./Button.astro";
import Hero from "./Hero.astro";
---

<header>
  <div><img src={logo} alt="" /></div>
  <Button text="Try It Free" />
  <Hero />
</header>
