---
import CtaBtn from "./CtaBtn.astro";
import heroImg from "../assets/illustration-mockups.svg";
---

<div class="text-center xl:flex xl:justify-center xl:gap-9">
  <div class="xl:text-start xl:self-center">
    <h1
      class="font-headings text-2xl sm:text-3xl px-4 sm:px-6 xl:p-0 xl:text-[2.5rem] xl:leading-normal"
    >
      Build The Community Your Fans Will Love
    </h1>
    <p class="mt-6 sm:px-8 xl:px-0">
      Huddle re-imagines the way we build communities. You have a voice, but so
      does your audience. Create connections with your users as you engage in
      genuine discussion.
    </p>
    <div class="mt-8">
      <CtaBtn />
    </div>
  </div>

  <div class="mt-14 sm:px-2 xl:mt-0 xl:basis-1/2 xl:shrink-0">
    <img src={heroImg} alt="" />
  </div>
</div>
