---
import Features from "./Features.astro";
import Card from "./Card.astro";
---

<main class="pb-20">
  <Features />
  <div class="px-4 sm:px-28 lg:px-56 relative top-24 xl:top-44">
    <Card />
  </div>
</main>
