<div class="flex gap-4">
  <span class="border flex w-9 h-9 justify-center items-center rounded-full active:text-brand-pink active:border-brand-pink cursor-pointer"><i class="fa-brands fa-facebook-f"></i></span>
  <span class="border flex w-9 h-9 justify-center items-center rounded-full active:text-brand-pink active:border-brand-pink cursor-pointer"><i class="fa-brands fa-twitter"></i></span>
  <span class="border flex w-9 h-9 justify-center items-center rounded-full active:text-brand-pink active:border-brand-pink cursor-pointer"><i class="fa-brands fa-instagram"></i></span>
</div>
